<?xml version="1.0"?>
<config>
    <modules>
        <Ainstainer_TechTalk>
            <version>1.0.0</version>
        </Ainstainer_TechTalk>
    </modules>
    <frontend>
        <layout>
            <updates>
                <techtalk>
                    <file>techtalk.xml</file>
                </techtalk>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <techtalk>
                        <class>techtalk/observer</class>
                        <method>controller_action_postdispatch_contacts</method>
                        <type>model</type>
                    </techtalk>
                </observers>
            </controller_action_postdispatch_contacts_index_post>
        </events>
        <routers>
            <techtalk>
                <use>standard</use>
                <args>
                    <module>Ainstainer_TechTalk</module>
                    <frontName>magetalk</frontName>
                </args>
            </techtalk>
            <customer>
                <args>
                    <modules>
                        <ain_customer before="Mage_Customer">Ainstainer_TechTalk</ain_customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <global>
        <models>
            <techtalk>
                    <class>Ainstainer_TechTalk_Model</class>
                    <resourceModel>techtalk_resource</resourceModel>
            </techtalk>
            <techtalk_resource>
                <class>Ainstainer_TechTalk_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ain_contact</table>
                    </contact>
                </entities>
            </techtalk_resource>
            <cms>
                <rewrite>
                    <block>Ainstainer_TechTalk_Model_Block</block>
                </rewrite>
            </cms>
        </models>
        <resources>
            <talk_setup>
                <setup>
                    <module>Ainstainer_TechTalk</module>
                </setup>
            </talk_setup>
        </resources>
        <blocks>
            <techtalk>
                <class>Ainstainer_TechTalk_Block</class>
            </techtalk>
            <catalog>
                <rewrite>
                    <product_view>Ainstainer_TechTalk_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <techtalk>
                <class>Ainstainer_TechTalk_Helper</class>
            </techtalk>
        </helpers>
        <events>
          <cms_page_get_available_statuses>
              <observers>
                  <ain_add_cms_status>
                      <type>singleton</type>
                      <class>techtalk/observer</class>
                      <method>addStatus</method>
                  </ain_add_cms_status>
              </observers>
          </cms_page_get_available_statuses>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ain_contacts before="Mage_Adminhtml">Ainstainer_TechTalk_Adminhtml</ain_contacts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>